@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://code.getmdl.io/1.2.0/material.blue-light_blue.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic";
body{
  font-family: Roboto;
}
.padding15{
  padding: 15px;
}
.volume{
  font-size: 30px;
}
.dealList{
  width: 100%;
  thead th{
    font-size: 13px;
    text-transform: uppercase;
  }
}
#contactTypes button{
  width: 100%;
  margin-bottom: 20px;
}



.row-green{
  background: greenyellow;
}

.row-yellow{
  background: yellow;
}

.row-orange{
  background: orange;
}

.row-red{
  background: red;
}